<ion-header>
    <ion-toolbar>
        <ion-title>
            Sucursales
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cerrar</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="outer">
    <ion-header class="segments-container">
        <div>
            <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
                <ion-segment-button value="avellaneda">
                    Avellaneda
                </ion-segment-button>
                <ion-segment-button value="banfield">
                    Banfield
                </ion-segment-button>
                <ion-segment-button value="beerStation">
                    Beer Station
                </ion-segment-button>
            </ion-segment>
        </div>
    </ion-header>

    <ion-content class="segments-container-content">
        <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
            <ion-slide>
                <div>
                    <ion-fab right top>
                    <a href="geo:?q=Juan+B.+Palaá+592,+B1870ATJ+Avellaneda,+Buenos+Aires,+Argentina" target="_system">
                        <button ion-fab>
                        <ion-icon name="pin"></ion-icon>
                    </button></a>
                    </ion-fab>
                    
                    <div class="locations-info slide-background" [style.background-image]="avellanedaPictures[selectedAvellanedaPic]">
                        <ion-grid>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="bottom-filled"></div>    
                            <ion-row>
                                <ion-col col-3 *ngFor="let item of avellanedaPictures; let idx = index" 
                                    [style.background-image]="avellanedaPictures[idx]"
                                    (click)="selectedAvellanedaPic = idx">
                                </ion-col>  
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
                
            </ion-slide>

            <ion-slide>
                <div>
                    <ion-fab right top>
                        <a href="geo:?q=Juan+B.+Palaá+592,+B1870ATJ+Avellaneda,+Buenos+Aires,+Argentina" target="_system">
                            <button ion-fab>
                            <ion-icon name="pin"></ion-icon>
                        </button></a>
                    </ion-fab>
                    <div class="locations-info slide-background" [style.background-image]="banfieldPictures[selectedBanfieldPic]">
                        <ion-grid>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <div class="bottom-filled"></div>    
                            <ion-row>
                                <ion-col col-3 *ngFor="let item of banfieldPictures; let idx = index" 
                                    [style.background-image]="banfieldPictures[idx]"
                                    (click)="selectedBanfieldPic = idx">
                                </ion-col>  
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div>
                    <ion-fab right top>
                        <a href="geo:?q=Juan+B.+Palaá+592,+B1870ATJ+Avellaneda,+Buenos+Aires,+Argentina" target="_system">
                            <button ion-fab>
                            <ion-icon name="pin"></ion-icon>
                        </button></a>
                    </ion-fab>
                    <div class="locations-info slide-background" [style.background-image]="beerStationPictures[selectedBeerStationPic]">
                        <ion-grid>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <div class="bottom-filled"></div>    
                                <ion-row>
                                    <ion-col col-3 *ngFor="let item of beerStationPictures; let idx = index" 
                                        [style.background-image]="beerStationPictures[idx]"
                                        (click)="selectedBeerStationPic = idx">
                                    </ion-col>  
                                </ion-row>
                        </ion-grid>
                    </div>
                    
                </div>
            </ion-slide>
        </ion-slides>
    </ion-content>
</ion-content>