modal-locations {
  .outer > .scroll-content{
        background: url('../assets/img/fondo.jpg') center repeat;
        background-size: cover;
        //background: linear-gradient(118deg, rgba(46,46,46,1) 0%,rgba(30,30,30,1) 50%,rgba(24,24,24,1) 50%,rgba(40,40,40,1) 100%);
  }

  .slides {
    padding: 67px 10px 10px 10px !important;
  }

  ion-scroll {
    width: 100%;
    height: 100%;
  }

  .options-toolbar{
    min-height: initial;
    padding: 0;
  }

  .segments-container {
    margin-top: 10px;
    padding: 10px;
  }
  
  .segments-container-content{
    background: none;
    .scroll-content {
      margin-top: 0 !important;
    }
  }

  .scroll-content {
    padding-top: 37px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }


  .segment-button {
    border-bottom-width: medium !important;
    border-color: color($colors, milochoyellow) !important;
    color: color($colors, milochoyellow) !important;
    border-radius: 10px 10px 0px 0px;
    height: 37px !important;
    font-size: large !important;
  }

  .segment-activated {
    background-color: color($colors, milochoyellow) !important;
    color: color($colors, dark) !important;
  }

  .slide-background {
    background-repeat:no-repeat; 
    background-size: cover;
    background-position: center center;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .slide-background{
    width: 100%;
  }

  .locations-info {
    height: 100% !important;
    position: absolute;
    bottom: 0;
    color: color($colors, lightG) !important;
    display: flex;
    align-items: flex-end;
  }

  .locations-info p {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 25%,rgba(0,0,0,0.65) 100%);
    margin-bottom: 0;
  }

  .locations-info .grid {
    padding: 0 !important;
  }

  .locations-info .col {
    height: 23vw;
    background-position: center;
    background-size: 100%;
  } 

  .bottom-filled {
    background-image: linear-gradient(to right, color($colors, milochoyellow) 100%, rgba(255,255,255,0) 0%);
    padding-bottom: 3px;
  }

  .bottom-dotted{
    background-image: linear-gradient(to right, color($colors, milochoyellow) 33%, rgba(255,255,255,0) 0%);
    background-position: bottom left;
    background-size: 15px 2px;
    background-repeat: repeat-x;
    padding-bottom: 5px;
  }

}

