modal-triviaBenefits {
  ion-slides {
      height: inherit !important; 
  }

  .scroll-content{
    background: url('../assets/img/fondo.jpg') repeat;
        // background: linear-gradient(118deg, rgba(46,46,46,1) 0%,rgba(30,30,30,1) 50%,rgba(24,24,24,1) 50%,rgba(40,40,40,1) 100%);
  }

  .button-outline-md {
    border-color: color($colors, lightbrown);
    color: color($colors, lightbrown);
  }
  
  .correct{
    background-color: limegreen !important;
    opacity: 1 !important;
  }

  .incorrect{
    background-color: red !important;
    opacity: 1 !important;
  }

  .wonToast {
    content: "\f305";
    font-family: Ionicons !important;
    font-size: xx-large !important;
  }

  ion-slide h2 {
    color: color($colors, lightG);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  ion-slide .button-block-md{
    background-color: rgb(96, 25, 160);
  }
 
  .swiper-pagination-progressbar
  {
    background-color: color($colors, goldBeer) !important;
  }

  .benefitDescription {
    margin: 0;
    width: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.46);
    color: gainsboro;
  }

  .countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
  }

  .countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }

  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: countdown 10s linear 
      forwards;
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }
}

