modal-news {

    ion-list .item, .item-header {
    margin-bottom: 10px;
    background-color: rgba(10, 10, 10, 0.6) !important;
    color: gainsboro;    
  }

  ion-list .item h3 {
    text-transform: uppercase !important;
    font-size: medium !important;
  }
  
  ion-list .list-header {
    margin-bottom: 10px;
    background-color: transparent !important;
    color: color($colors, milochoyellow) !important;
    text-transform: uppercase !important;
  }

  ion-list .list-header .label {
    font-size: large !important;
  }

  ion-list h2{
      font-weight: bold !important;
      color:  color($colors, milochoyellow);
      text-transform: uppercase !important;
  }

  .label {
      transition-timing-function:  ease;
      transition: height 2s;
  }

  .normal {
      white-space: normal !important;      
  }

  .collapsed {
      white-space: nowrap !important;
  }

  ion-list ion-icon{
      color: gold;
  }

  .list-md .item-block .item-inner {
      border-bottom: 0 !important;
  }

  .scroll-content{
      background: url('../assets/img/fondo.jpg') center repeat;
      background-size: cover;
      // background: linear-gradient(118deg, rgba(46,46,46,1) 0%,rgba(30,30,30,1) 50%,rgba(24,24,24,1) 50%,rgba(40,40,40,1) 100%);
  }
}

