modal-news {
  ion-list h2{
      color: gray;
  }

  ion-list ion-icon{
      color: gold;
  }

  .scroll-content{
      background: url('../assets/img/fondo.jpg') center repeat;
      background-size: cover;
      // background: linear-gradient(118deg, rgba(46,46,46,1) 0%,rgba(30,30,30,1) 50%,rgba(24,24,24,1) 50%,rgba(40,40,40,1) 100%);
  }
}

