<ion-header>
  <ion-toolbar>
    <ion-title>
      Cervezas
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cerrar</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content class="outer">
  <ion-header class="segments-container">
    <div>
      <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="tiradas">
          Tiradas
        </ion-segment-button>
        <ion-segment-button value="botellas">
          Porrones
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-header>

  <ion-content class="segments-container-content">
      <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
      <!--<ion-slide class="slide-background" style="background-image: url('assets/img/localavellaneda.jpg');">-->
      <ion-slide class="slide-background">
        <ion-list inset>
          <ion-item *ngFor="let item of craftBeers; let i=index" text-wrap (click)="toggleGroup(item.Name.concat(i))" [ngClass]="{active: isGroupShown(i)}">
            <h3>
              {{item.Name}}
              <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </h3>
            <div [class.visible]="isGroupShown(item.Name.concat(i))" [class.hidden]="!isGroupShown(item.Name.concat(i))">
              <hr/>
              {{item.Description}}
              <div class="bottom-dotted"></div>
              <ion-row class="technicalData">
                <ion-col col-3>Alc</ion-col>
                <ion-col col-3>Ibu</ion-col>
                <ion-col col-3>Srm</ion-col>
                <ion-col col-3>Og</ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-3> {{item.TechnicalData.Alc}}</ion-col>
                <ion-col col-3> {{item.TechnicalData.Ibu}}</ion-col>
                <ion-col col-3> {{item.TechnicalData.Srm}}</ion-col>
                <ion-col col-3> {{item.TechnicalData.Og}}</ion-col>
              </ion-row>
              Encontrala en
              <ion-row>
                <ion-badge *ngFor="let store of item.Avialability">{{store.Name}}</ion-badge>
              </ion-row>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide class="slide-background">
        <ion-list inset>
          <div *ngFor="let itemCountry of bottleBeers;">
            <ion-list-header>
              {{itemCountry.Name}}
            </ion-list-header>
            <ion-item *ngFor="let item of itemCountry.Beers; let i=index" text-wrap (click)="toggleGroup(item.Name.concat(i))" [ngClass]="{active: isGroupShown(i)}">
              <h3>
                {{item.Name}}
                <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              </h3>
              
              <div [class.visible]="isGroupShown(item.Name.concat(i))" [class.hidden]="!isGroupShown(item.Name.concat(i))">
                <hr/>
                {{item.Description}}
                <div class="bottom-dotted"></div>
                <ion-row class="technicalData">
                  <ion-col col-3>Alc</ion-col>
                  <ion-col col-3>Ibu</ion-col>
                  <ion-col col-3>Srm</ion-col>
                  <ion-col col-3>Og</ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-3> {{item.TechnicalData.Alc}}</ion-col>
                  <ion-col col-3> {{item.TechnicalData.Ibu}}</ion-col>
                  <ion-col col-3> {{item.TechnicalData.Srm}}</ion-col>
                  <ion-col col-3> {{item.TechnicalData.Og}}</ion-col>
                </ion-row>
                Encontrala en
                <ion-row>
                  <ion-badge *ngFor="let store of item.Avialability">{{store.Name}}</ion-badge>
                </ion-row>
              </div>
            </ion-item>
          </div>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </ion-content>

</ion-content>