modal-beers {
  .scroll-content{
        background: url('../assets/img/fondo.jpg') center repeat;
        background-size: cover;
        //background: linear-gradient(118deg, rgba(46,46,46,1) 0%,rgba(30,30,30,1) 50%,rgba(24,24,24,1) 50%,rgba(40,40,40,1) 100%);
  }

  .segment-button {
    border-bottom-width: medium !important;
    border-color: color($colors, milochoyellow) !important;
    color: color($colors, milochoyellow) !important;
    border-radius: 10px 10px 0px 0px;
    height: 37px !important;
    font-size: large !important;
  }

  .segment-activated {
    background-color: color($colors, milochoyellow) !important;
    color: color($colors, dark) !important;
  }

  .slide-background {
    background-repeat:no-repeat; 
    background-size: cover;
    background-position: center center;
  }

  .technicalData, .list-header {
    text-transform: uppercase !important;
    font-weight: bold !important;
}

  .scroll-content {
    padding: 0 !important;
  }

  .slide-background{
    width: 100%;
  }

  .list-header-md {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
  }

  .visible{
    max-height: 100vh;
    transition: max-height 0.30s ease-in;
  }

  .hidden{
    max-height: 0;
    transition: max-height 0.20s ease-out;
  }

  ion-slide {
    overflow: scroll;
  }

  .slide-zoom {
    height: inherit;
  }

  ion-list .item, .item-header {
    margin-bottom: 10px;
    background-color: rgba(10, 10, 10, 0.6) !important;
    color: gainsboro;    
  }

  ion-list .item h3 {
    text-transform: uppercase !important;
    font-size: medium !important;
  }
  
  ion-list .list-header {
    margin-bottom: 10px;
    background-color: transparent !important;
    color: color($colors, milochoyellow) !important;
    text-transform: uppercase !important;
  }

  ion-list .list-header .label {
    font-size: large !important;
  }

  .item-inner {
    border: none !important;
  }

  .item-inner div {
    font-size: medium !important;
  }

  ion-list {
    ion-icon  {
      font-size: 1.8rem;
      padding: 0;
      text-align: center;
      position: absolute;
      right: 10px;
      top: 3px;
      &:before {
        font-weight: bold;
      }
    }
  }
}

